html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

.content {
  flex: 1 0 auto;
  display: grid;
  grid-template-rows: 124px 1fr;
}

.footer {
  flex-shrink: 0;
}

.main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 20px;
  padding: 0 20px;
  //margin-bottom: 20px;
  position: relative;
}

@media (max-width: 920px) {
  .main {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }

  .map {
    order: 3;
  }

  .information {
    order: 2;
  }

  .country {
    order: 1;
  }

  .content {
    display: block;
  }
}
