body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #0f0e17;
  color: #a7a9be;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #fffffe;
}

a {
  text-decoration: none;
  color: #fffffe;
}
