.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px 10px;
}

.course {
  margin: 0 10px;
}

.authors {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.authors_link {
  display: flex;
  align-items: center;
  //margin-right: 10px;
  font-size: 12px;

  &:last-child {
    //margin-right: 0;
  }
}

.authors__logo {
  margin-right: 5px;
}

.year {
  font-size: 12px;
}
