.header {
  padding: 20px;
  //margin-bottom: 30px;
}

.main-title {
  font-size: 54px;
  text-align: center;
  color: $accent;
}

@media (max-width: 920px) {
  .main-title {
    font-size: 40px;
  }
}
