.information {
  min-width: 220px;
  border-radius: 5px;
  position: relative;
}

.statistic {
  background-color: $main-bg;
}

.statistic_full {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 100000;
  width: calc(100vw - 40px);
  height: 100%;
}

.information__header {
  padding: 20px 10px;
  border-bottom: 1px solid #252323;
}

.information__main-title {
  font-size: 24px;
  color: $accent;
  margin-bottom: 20px;
}

.information__subtitle {
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: .03em;
}

.information__item {
  border-bottom: 1px solid #252323;
  padding: 10px;
}

.information__title {
  margin-bottom: 10px;
  font-size: 14px;
}

.information__numbers {
  font-size: 16px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}
