.resize-button {
  border: 1px solid #a7a9be;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-image: url("../img/icon-fullscreen.png");
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  right: 0;
  opacity: 0;
  transition: opacity .25s, transform .25s;
  z-index: 500;
}

.resize-button:hover {
  transform: translateY(3px);
}

.statistic:hover .resize-button,
.chart:hover:not(.loading) .resize-button,
.country:hover .resize-button,
.map:hover .resize-button {
  opacity: 1;
}

.resize-button_minimize {
  border: 1px solid #a7a9be;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-image: url("../img/icon-remove-fullscreen.png");
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  right: 0;

  .fullscreen__country &,
  .fullscreen__statistics &,
  .fullscreen__chart &,
  .fullscreen__map & {
    right: 20px;
  }
}

.fullscreen__country, .fullscreen__statistics, .fullscreen__chart, .fullscreen__map {
  @include media-md {
    overflow: hidden;
  }
}

.fullscreen__country {
  .information, .map {
    display: none;
  }
}

.fullscreen__statistics, .fullscreen__chart {
  .map, .country {
    display: none;
  }
}

.fullscreen__map {
  .country, .information {
    display: none;
  }
}
