.search {
  display: block;
  position: relative;
  border-bottom: 1px solid $paragraph;
}

//.country_full .search {
//  max-width: 370px;
//}

.search__input,
.search__button {
  border: none;
  outline: none;
  background: transparent;
}

.search__input {
  width: 100%;
  height: 32px;
  color: white;
}

input::-ms-clear {
  width: 0;
  height: 0;
}

/* Hide the cancel button */
::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search__input[type="search"]::placeholder {
  color: $paragraph;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: .03em;
}

.search__input:focus {
  color: #fff;
}

.search__button {
  height: 32px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 0;

  img {
    width: 17px;
    height: 17px;
    filter: invert(1);
  }
}

.icon_color {
  transition-duration: 350ms;
}

.search__button:hover .icon_color {
  fill: $accent;
  transition-duration: 350ms;
}
